vsphere_user               = "administrator@vsphere.local"
vsphere_password           = "XXX"
vsphere_vcenter            = "vcsa.homelab01.local"
vsphere_data_center        = "Datacenter"
vsphere_cluster            = "Cluster"
vsphere_workload_datastore = "SSD"
vsphere_compute_pool       = "Compute-ResourcePool"
vsphere_network            = "vLan-251-HomeLab01-vSphere"
vsphere_vm_template        = "ubuntu-template"
vsphere_resource_pool      = "vms"
